<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="product.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <nav class="nav-bar">
        <div class="left">
            <img class="logo" src="../../img/fitness logo 5.png" alt="logo image" />
        </div>

        <div class="right">
            <a href="#" class="txt">Home</a>
            <a href="#" class="txt">Classes</a>
            <a href="#" class="txt">Product</a>
            <a href="#" class="txt">Blog</a>
            <a href="#" class="btn">Join Us</a>


        </div>

        <div class="burger">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
            </svg>

        </div>
    </nav>
    <main>
        <section class="classes-banner">
            <h1 class="classes-banner-heading">Nutrition & Supplement</h1>
            <div class="content-banner">
                <div class="banner-content">
                    <img src="../../img/supliment-1.png">
                    <a class="banner-link" href="#">Whey Protein</a>
                </div>

                <div class="banner-content">
                    <img src="../../img/supliment-2.png">
                    <a class="banner-link" href="#">Multivitamins</a>
                </div>

                <div class="banner-content">
                    <img src="../../img/supliment-3.png">
                    <a class="banner-link" href="#">Pre Workouts</a>
                </div>
            </div>
        </section>

        <section class="taniner">
            <h1 class="classes-banner-heading tanning-heading">Weights & Machine</h1>
            <div class="traning-content">
                <div>
                    <img src="../../img/ep-1.png" />
                    <h5 class="trainer-name">Treadmil</h5>
                </div>


                <div>
                    <img src="../../img/ep2.png" />
                    <h5 class="trainer-name">Free Weights</h5>
                </div>


                <div>
                    <img src="../../img/ep-3.png" />
                    <h5 class="trainer-name">Cable Machines</h5>
                </div>
            </div>
        </section>



        <section class="merch-banner">
            <h1 class="classes-banner-heading">Apparel & Merchandise</h1>
            <div class="content-banner">
                <div class="banner-content">
                    <img src="../../img/p-1.png">
                    <a class="banner-link" href="#">Running</a>
                </div>

                <div class="banner-content">
                    <img src="../../img/p-2.png">
                    <a class="banner-link" href="#">Yoga</a>
                </div>

                <div class="banner-content">
                    <img src="../../img/p-3.png">
                    <a class="banner-link" href="#">Zumba</a>
                </div>
            </div>
        </section>

    </main>
    <footer>
        <section class="footer-first">
            <div class="main-footer">
                <div class="footer-logo-sec">
                    <img class="footer-logo" src="../../img/fitness logo 5.png">
                    <p class="footer-logo-txt">Prioritize Your Fitness Goals
                        with our world class services</p>
                </div>
                <div class="foooter-middle">
                    <div class="footer-third-sec">
                        <h5 class="footer-heading">COMPANY</h5>
                        <p class="footer-txt">About</p>
                        <p class="footer-txt">Careers</p>
                        <p class="footer-txt">Blogs</p>
                    </div>

                    <div class="footer-third-sec">
                        <h5 class="footer-heading">CONTACT</h5>
                        <p class="footer-txt">Help/FAQs</p>
                        <p class="footer-txt">Press</p>
                        <p class="footer-txt">Moblie</p>
                    </div>

                    <div class="footer-third-sec">
                        <h5 class="footer-heading">MORE</h5>
                        <p class="footer-txt">program</p>
                        <p class="footer-txt">Plans</p>
                        <p class="footer-txt">Method</p>
                    </div>
                </div>

                <div class="footer-last">
                    <h5 class="footer-last-heading">Popular Tags</h5>
                    <div class="btn-footer">
                        <a class="footer-btn">ABS</a>
                        <a class="footer-btn">Workout</a>
                        <a class="footer-btn fb">Nutrition</a>
                        <a class="footer-btn">GYM</a>
                        <a class="footer-btn">Boxing</a>
                        <a class="footer-btn fb">Trainers</a>
                        <a class="footer-btn fb fb-last">Facilities</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="footer-bottom">
            <p class="footer-bottom-txt">Copy Right All Rights Reserved</p>
        </section>
    </footer>


    <script src="../../js/app.js"></script>

</body>

</html>