<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="blog.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <title>Blog</title>
</head>

<body>
    <nav class="nav-bar">
        <div class="left">
            <img class="logo" src="../../img/fitness logo 5.png" alt="logo image" />
        </div>

        <div class="right">
            <a href="#" class="txt">Home</a>
            <a href="#" class="txt">Classes</a>
            <a href="#" class="txt">Product</a>
            <a href="#" class="txt">Blog</a>
            <a href="#" class="btn">Join Us</a>


        </div>

        <div class="burger">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
            </svg>

        </div>
    </nav>

    <main>
        <section class="first-blog">
            <div class="blog-content">
                <img class="blog-img" src="../../img/p-2.png" />
                <p class="bog-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centrelease of Letraset
                    sheets
                    containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                    PageMaker
                    including versions of Lorem Ipsum</p>
            </div>
        </section>
    </main>

</body>

</html>